<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="center" class="com.logistics.lbw.mian.controller.Center"></bean>

    <context:component-scan base-package="com.logistics.lbw.mian"></context:component-scan>


    <context:property-placeholder location="classpath:stuffs" file-encoding="gbk"/>

    <bean id="datasource" class="com.logistics.lbw.mian.service.EntrePotImpl">
        <property name="stuff" value="${Stuff}"></property>
        <property name="goods" value="${Goods}"></property>
        <property name="kinds" value="${Kinds}"></property>
    </bean>



</beans>







