<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="center" class="com.logistics.lbw.mian.Center"></bean>

    <context:component-scan base-package="com.logistics.lbw.mian"></context:component-scan>

    <bean id="EntrePotmanager" class="com.logistics.lbw.mian.EntrePotImpl">
        <property name="kinds" value="car"></property>
        <property name="goods" value="Baoma"></property>
        <property name="stuff" value="lbw"></property>
    </bean>

</beans>

