<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="logistics.dao.CarMapper">

    <select id="getAllCar"  resultType="car">
        select id, car_num, car_load from t_car
    </select>
    <select id="getCarById" parameterType="Integer" resultType="car">
        select id, car_num, car_load from t_car where id=#{id}
    </select>

</mapper>
