<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="logistics.dao.CarMapper">

    <insert id="saveOne" parameterType="student">
        insert into t_student values (
            null,#{stuNum,jdbcType=VARCHAR},#{stuName,jdbcType=VARCHAR},
            #{stuSex,jdbcType=INTEGER},#{stuClass,jdbcType=VARCHAR}
        )
    </insert>

    <select id="getAllStudent" resultType="student">
        select id, stu_num, stu_name, stu_sex, stu_class from t_student
    </select>

    <insert id="saveAllStudent" parameterType="java.util.List">
        INSERT  INTO t_student(stu_num, stu_name, stu_sex, stu_class)values
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.stuNum,jdbcType=VARCHAR},#{item.stuName,jdbcType=VARCHAR},
            #{item.stuSex,jdbcType=INTEGER},#{item.stuClass,jdbcType=VARCHAR}
            )
        </foreach>

    </insert>

    <select id="getStuById" parameterType="Integer" resultType="Student">
         select id, stu_num, stu_name, stu_sex, stu_class from t_student where id=#{id}
    </select>

    <update id="updateStuById" parameterType="Student">
        update t_Student set stu_num=#{stuNum,jdbcType=VARCHAR},stu_name=#{stuName,jdbcType=VARCHAR},
        stu_sex=#{stuSex,jdbcType=VARCHAR},stu_class=#{stuClass,jdbcType=VARCHAR}
        where id=#{id}
    </update>
    <delete id="deleteStuById" parameterType="Integer">
        delete from t_Student where id=#{id};
    </delete>
</mapper>
